<section class="section about-us" id="about">
    <div class="container">
      <div class="about-us__descriptions">
        <div class="about-us__foto">
            <picture>
                <source
                  srcset="./images/about-us/desktop/desktop.png 1x, ./images/about-us/desktop/desktop@2x.png 2x" width="512"
                  media="(min-width: 1280px)" type="image/png" />
                <source
                  srcset="./images/about-us//tablet/tablet.png 1x, ./images/about-us/tablet/tablet@2x.png 2x" width="330"
                  media="(min-width: 768px)" type="image/png" />
                <source
                  srcset="./images/about-us/mobile/mobile.png 1x, ./images/about-us/mobile/mobile@2x.png 2x" width="290"
                  media="(max-width: 767px)" type="image/png"  />
                <img src="./images/about-us/mobile/mobile.png" width="290" alt="donut">
              </picture>
              
        </div >
        <div class="about-us-inform">
        <h2 class="about-us__title title section__title">About us </h2>
        <p class="about-us__text text">
            Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated donuts which will save the world!</p>
            <p class="about-us__text text" >
Eva has been baking since she was six years old and over the last 49 years, she has created hundreds of cakes for weddings and has baked for many celebrities. Eva and our shop have received multiple awards & recognition for excellence.</p>
<button class="button button--border" type="button">Read more</button>
<p class="about-us__text text">
We are going to teach you how to cook with passion and sparkles in your eyes! We love what we do and believe you will enjoy our cooking atmosphere!</p>
<button class="button button--border " type="button">Less</button>       
</div>
</section>