<!--секция для роботы с About us (Разработчик: Ermak    )-->
<section class="section about-us" id="about">
    <div class="container">
        <div class="about-us__foto">
          <img class="foto-donut" srcset="./images/about-us/mobile/donut.png 1x, ./images/about-us/mobile/donut@2x.png 2x" src="./images/about-us/mobile/donut.png" width="72" alt="Пончик">
          <img class="foto-cupcake" srcset="./images/about-us/mobile/Cupcake-Box.png 1x, ./images/about-us/mobile/Cupcake-Box@2x.png 2x" src="./images/about-us/mobile/Cupcake-Box.png" width="290" alt="Кофе и коробка">
        </div>
        <h2 class="about-us__title title section__title">About us </h2>
        <p class="about-us__text text">
            Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated donuts which will save the world!</p>
            <p>
Eva has been baking since she was six years old and over the last 49 years, she has created hundreds of cakes for weddings and has baked for many celebrities. Eva and our shop have received multiple awards & recognition for excellence.</p>
<p class="section-about-us__text">
We are going to teach you how to cook with passion and sparkles in your eyes! We love what we do and believe you will enjoy our cooking atmosphere!</p>

<button class="buttons abouts-us__button" type="button">Read more</button>
       
    </div>
</section>