<!--секция для работы с Header (Разработчик: Vitalii Shulga)-->

<header class="header">
  <div class="container">
    <nav class="menu">
      <a class="logo" href="./index.html">
        <svg class="logo__icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="menu__list list menu--desktop">
        <li class="menu__item">
          <a class="menu__link link" id="aboutLink" href="#about">About us</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" id="programLink" href="#program">Program</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" id="reviewsLink" href="#reviews">Reviews</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" id="contactsLink" href="#contacts">Contacts</a>
        </li>
      </ul>
      <button
        class="button-menu"
        type="button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg class="button-menu__icon" aria-label="open mobile menu">
          <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
          <use class="icon-close" href="./images/sprite.svg#icon-menu-close"></use>
        </svg>
      </button>
    </nav>

    <div class="menu--mobile" id="menu-container" data-menu>
      <a class="logo--mobile" href="./index.html">
        <svg class="logo__icon--mobile">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="menu__list list">
        <li class="menu__item">
          <a class="menu__link link" id="aboutLink2" href="#about">About us</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" id="programLink2" href="#program">Program</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" id="reviewsLink2" href="#reviews">Reviews</a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" id="contactsLink2" href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
