<!--секция для роботы с Reviews (Разработчик: Якимов Сергей)-->
<section class="section">
    <div class="conteiner">
        <h2 class="section__title title">Reviews</h2>
        <article>
            <ul class="reviews-list">
                <li class="reviews__item reviews__item--wrap">
                    <img src="" alt="photo of John's client">
                    <img src="" alt="rate">
                    <h3 class="reviewer-name">John</h3>
                    <p class="review-text">
                        Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first
                        time in
                        the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                        to
                        everyone!
                    </p>
                </li>
                <li class="reviews__item">
                    <picture>
                        <source srcset="./images/reviews/mobile/will-mobile.jpg 1x, ./images/reviews/mobile/will-mobile@2x.jpg 2x">
                        <img src="./images/reviews/mobile/will-mobile.jpg" alt="photo of Will's client" width="234">  
                    </picture>                
                        <svg class="reviews__icon" width="136" height="24">
                        <use href="./images/sprite.svg#icon-rate5stars"></use>
                    </svg>    
                    <h3 class="reviewer-name">Will</h3>
                    <p class="review-text">
                        Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first
                        time in
                        the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                        to
                        everyone!
                    </p>
                </li>
                <li class="reviews__item reviews__item--wrap">
                    <img src="" alt="photo of Elizabeth client">
                    <img src="" alt="rate">
                    <h3 class="reviewer-name">Elizabeth</h3>
                    <p class="review-text">
                        Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish even if it is your first
                        time in
                        the
                        kitchen!
                        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                        to
                        everyone!
                    </p>
                </li>
                <span class="pagination-text">2/15</span>
            </ul>
            <img src="" alt="pagination">
        </article>
    </div>
</section>