.hero__container {
  position: relative;
  text-align: center;
  z-index: 5;
  padding-top: 85px;
  padding-bottom: 20px;

  @media screen and (min-width: $tablet) {
    text-align: left;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 160px;
    padding-bottom: 125px;
  }
}

.hero__title {
  display: inline-block;
  max-width: 224px;
  margin-bottom: 3px;
  font-size: 30px;
  line-height: 1.25;

  @media screen and (min-width: $desktop) {
    max-width: 490px;
    margin-bottom: 15px;
    font-size: 64px;
    line-height: 1.02;
  }
}

.hero__label {
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  @media screen and (min-width: $tablet) {
    margin-bottom: 26px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.21;
  }
}

.hero__button {
  display: inline-block;
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 18px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 52px;
  }
}

.hero__background {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $mobile-max) {
    max-width: $mobile;
    z-index: 2;
    background-image: url('../images/header/mobile/donuts_mobile.png');
    background-size: 120px 114px;
    background-repeat: no-repeat;
    background-position: 0px 0px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header/mobile/donuts_mobile@2x.png');
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    width: $tablet;
    z-index: 2;
    background-image: url('../images/header/tablet/donuts_tablet.png');
    background-size: 380px 361px;
    background-repeat: no-repeat;
    background-position: top 0px right 137px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header/tablet/donuts_tablet@2x.png');
    }
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    z-index: 2;
    background-image: url('../images/header/desktop/donuts_desktop.png'),
      url('../images/header/desktop/spoon_desktop.png');
    background-size: 719px 660px, 142px 450px;
    background-repeat: no-repeat;
    background-position: top 0px right 0px, top 166px left 0px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/header/desktop/donuts_desktop@2x.png'),
        url('../images/header/desktop/spoon_desktop@2x.png');
    }
  }
}
