body.menu-open {
  overflow: hidden;
  overflow-y: none;
}

.menu {
  display: flex;
}

.menu--mobile {
  // display: none;

  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 25px;
  background: var(--bg-menu-color);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);

  transition: top var(--animation-duration);

  &.is-open {
    // display: block;
    top: 0;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu--desktop {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.menu__list {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.22;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
}

.menu__item {
  transition: color var(--animation-duration);

  &:hover,
  &:focus {
    color: var(--button-bg-color);
  }

  &:active {
    color: var(--button-accent-color);
  }
}

.menu__item:not(:last-child) {
  @media screen and (max-width: 767.9px) {
    margin-bottom: 45px;
  }

  @media screen and (max-width: 1279.9px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 20px;
  }
}
