.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;

  transition: background-color var(--animation-duration);

  &:hover,
  &:focus {
    background-color: var(--button-bg-color);
  }

  @media screen and (min-width: 1280px) {
    width: 48px;
    height: 48px;
  }
}

.socials__icon {
  fill: var(--icon-color);

  transition: fill var(--animation-duration);

  .socials__link:hover &,
  .socials__link:focus & {
    fill: var(--button-text-color);
  }
}
