.foto-donut{  
    position: absolute;
    bottom: 815px;
    left: 65px;
}

.button--border{
color: var(--button-bg-color);
 background-color: var(--body-color);
 border: none;
 padding: 0;
 
 
}
.about-us__title{
    display: flex;
    text-align: center;
    justify-content: center;
}

.about-us__text{
    margin-top: 15px;
    margin-bottom: 15px;
}

  
.about-us__foto{
    float: left;  
    
}
.about-us-inform{
    display: block;
    
    margin-left: 366px;
}
