
.button--border{
color: var(--button-bg-color);
 background-color: var(--body-color);
 border: none;
 padding: 0;
 & :hover{
     transform: scale(1.2) translateX(8px);
     
 }
 @media screen and (min-width: 1280px) {
    display: none;
  }
 
 
}
.about-us__title{
   
    text-align: center;
    justify-content: center;
 @media screen and (min-width: 768px) {
    text-align: left;
      }  
}

.about-us__text{
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-us__descriptions{
  max-width: 290px; ;
    @media screen and (min-width: 768px){
    display: flex;
    align-items: center;
}
}
.about-us__foto{
  max-width:512px;
  min-width: 290px;
  margin: 0 auto;
}
.about-us__inform{
  max-width:392px;
  min-width:332px;
}