.foto-donut{  
    position: absolute;
    bottom: 815px;
    left: 65px;
}

.button--border{
color: #AB816C;
 background-color: white;
 border: none;
 padding: 0;
 
}
.about-us__title{
    display: flex;
    text-align: center;
    justify-content: center;
}

.about-us__text{
    margin-top: 15px;
    margin-bottom: 15px;
}
  